{% load crispy_forms_tags %}
<form action="/inventory/api/items/" id="item_edit_form" method="POST">
  <b-container>
    <b-form-row>
      <b-col>
        <label for="code" class="col-form-label">Name</label>
        <b-form-input v-model="item.name"></b-form-input>
      </b-col>
    </b-form-row>
    <b-form-row>
      <b-col>
        <label for="code" class="col-form-label">Price</label>
        <b-form-input type="number" lazy-formatter :formatter="format_money" step="any" v-model="item.price"></b-form-input>
      </b-col>
      <b-col>
        <label for="code" class="col-form-label">Code</label>
        <b-form-input v-model="item.code"></b-form-input>
      </b-col>
    </b-form-row>
    <b-form-row>
      <b-col>
        <label class="col-form-label">Vendor</label>
        <b-form-select v-model="item.vendor" :options="vendor_options"></b-form-select>
      </b-col>
      <b-col>
        <label class="col-form-label">Category</label>
        <b-form-select v-model="item.category" :options="category_options"></b-form-select>
      </b-col>
    </b-form-row>
    <b-form-row>
      <b-col>
        <label class="col-form-label">Current Qty</label>
        <b-form-input type="number" step="1" lazy-formatter :formatter="format_int" v-model="item.current_quantity"></b-form-input>
      </b-col>
      <b-col>
        <label class="col-form-label">Minimum</label>
        <b-form-input type="number" step="1" lazy-formatter :formatter="format_int" v-model="item.minimum"></b-form-input>
      </b-col>
    </b-form-row>
    <b-form-row>
      <b-col>
        <label for="id_notes" class="col-form-label">Notes</label>
        <b-form-textarea id="id_notes" v-model="item.notes"></b-form-textarea>
      </b-col>
    </b-form-row>
  </b-container>
</form>
