

// Bootstrap's Colors
$color-primary: #08c;
$color-info: #49afcd;
$color-danger: #bd362f;
$color-success: #51a351;
$color-warning: #f89406;
$color-inverse: #222;


$color-homestead-orange: #f87801;
$color-homestead-gray: #666;


// These colors are used on the cabinet items and the revisions
$color-ap: #3c9c5d;
$color-cr: #ac942e;
$color-na: #d32f2f;
$color-default: #a6b0da;
$color-attention: lighten($color-info, 38);


$color-white: #fff;
$color-lightest-gray: #fafafa;
$color-even-lighter-gray: #f6f6f6;
$color-lighter-gray: #f0f0f0;
$color-light-gray: #dbdbdb;
$color-gray: #b2b2b2;
$color-dark-gray: #777;
$color-darker-gray: #5e5e5e;
$color-darkest-gray: #303030;
$color-black: #000;

$color-link: #28b;
$color-link-hover: #ff8000;


// Button widths.
// Each value in list will become a .btn-width class with the position of the
// value in the list appended to the end of the name:
//     (.btn-width1, .btn-width2... etc.)
$button-widths: 64px, 128px, 204px, 256px, 320px;
