

// <--------------------------------------------------------------------------->
//ANCHOR                       Special stuff
// <--------------------------------------------------------------------------->


// Hide vue stuff until it's done rendering.
[v-cloak] {
  display: none;
}


// <--------------------------------------------------------------------------->
//ANCHOR                Styles that are used throughout the app
// <--------------------------------------------------------------------------->


.errorlist {
  @extend %condensed-font;
  color: #f00;
  list-style-type: none;
  padding-left: 0;
}


.dropdown-menu {
  i {
    margin-right: 1rem;
    width: 20px;
  }
}


body {
  background-color: lighten($color-homestead-gray, 50%);
}


#sitenav {
  min-width: 220px;

  ul,
  li {
    background-color: $color-homestead-gray;
    padding: 0 1rem;
    transition: background-color 0.5s;

    > a {
      color: #eee;
      display: block;
      line-height: 40px;

      &:hover {
        text-decoration: none;
      }

      &:active {
        color: $color-homestead-orange;
      }
    }
  }

  nav {
    background-color: $color-homestead-gray;
    height: 100%;

    @media (min-width: $screen-md) {
      border-right: 3px solid darken($color-homestead-gray, 10%);
    }

    @media (max-width: $screen-md) {
      border-bottom: 3px solid darken($color-homestead-gray, 10%);
    }
  }

  .brand-logo {
    font-size: 13pt;
    text-transform: uppercase;
  }

  .dropdown-menu {
    left: 50%;
    transform: translateX(-50%);
  }

  .active {
    background: invert($color-homestead-gray);
    border-color: $color-homestead-orange;
  }

  .navbar-nav {
    padding: 0;
  }

  .nav-item {
    &:hover {
      background-color: lighten($color-homestead-orange, 25%);

      > a {
        color: $color-homestead-gray;
      }
    }
  }

}
