{% extends "inventory/inventory_base.html" %}
{% load crispy_forms_tags %}

{% block inner %}
<div id="inventory-app" v-cloak>
  <div v-if="loaded">
    {% include 'inventory/tab_bar.html' %}
    <b-container fluid >
      <!-- Main table element -->
      <b-table id="item-list" show-empty small :items="items" :fields="fields"
        primary-key="position" :current-page="currentPage" :per-page="perPage" :filter="filter"
        :tbody-transition-props="transProps" :filter-included-fields="filterOn"
        :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" :sort-direction="sortDirection"
        @filtered="onFiltered" @row-hovered="rowHovered" @row-unhovered="rowUnHovered">
        <template v-slot:cell(name)="row">
          [[ row.item.name ]]
        </template>

        <template v-slot:cell(actions)="row">
          <b-button-group>
            <b-button size="sm" @click="info(row.item, row.index, $event.target)">
              Edit <span class="d-hide-lg">Details</span>
            </b-button>
            <b-button v-if="row.item.notes" size="sm" @click="row.toggleDetails">
              [[ row.detailsShowing ? 'Hide' : 'Show' ]] Notes
            </b-button>
            <b-button size="sm" variant="danger" :data-item="row.item.id" loader="true"
              v-confirm="{customClass: 'dg-danger', okText: 'Just delete it!', ok: deleteItem,
                          animation: 'bounce', cancelText: 'Nevermind',
                          message: 'Are you sure you want to delete this?'}">
              Delete
            </b-button>
          </b-button-group>
        </template>

        <template v-slot:row-details="row">
          <b-card v-html="row.item.notes"></b-card>
        </template>
      </b-table>

      <b-row>
        <b-col lg="6" class="my-1">
          <b-form-group label="Filter" label-cols-sm="3" label-align-sm="right" label-size="sm" label-for="filterInput"
            class="mb-0">
            <b-input-group size="sm">
              <b-form-input v-model="filter" type="search" id="filterInput" placeholder="Type to Search"></b-form-input>
              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>

        <b-col lg="6" class="my-1">
          <b-form-group label="Filter On" label-cols-sm="3" label-align-sm="right" label-size="sm"
            description="Leave all unchecked to filter on all data" class="mb-0">
            <b-form-checkbox-group v-model="filterOn" class="mt-1">
              <b-form-checkbox value="name">Name</b-form-checkbox>
              <b-form-checkbox value="vendor">Vendor</b-form-checkbox>
              <b-form-checkbox value="isActive">Active</b-form-checkbox>
            </b-form-checkbox-group>
          </b-form-group>
        </b-col>

        <b-col sm="5" md="6" class="my-1">
          <b-form-group label="Per page" label-cols-sm="6" label-cols-md="4" label-cols-lg="3" label-align-sm="right"
            label-size="sm" label-for="perPageSelect" class="mb-0">
            <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>
          </b-form-group>
        </b-col>

        <b-col sm="7" md="6" class="my-1">
          <b-pagination v-model="currentPage" :total-rows="totalRows" :per-page="perPage" align="fill" size="sm"
            class="my-0"></b-pagination>
        </b-col>
      </b-row>

      <!-- Info modal (NOTE: this has to be set to static for summernote to work) -->
      <b-modal :id="itemEditModal.id" :title="itemEditModal.title" scrollable size="lg"
                button-size="lg" :ok-title="itemEditModal.buttonText" static
                @hide="resetitemEditModal" @ok="onSubmit">
        {% include 'forms/item_edit_form.html' %}
      </b-modal>
    </b-container>
  </div>
</div>
{% endblock inner %}
