{% load extra_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}SmokeStack{% endblock title %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="{% staticfile 'images/favicons/favicon.ico' %}">

  <link rel="stylesheet" href="{% staticfile 'css/vendor/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% staticfile 'css/vendor/bootstrap-vue.min.css' %}">
  <link rel="stylesheet" href="{% staticfile 'css/vendor/fontawesome.min.css' %}">
  <link rel="stylesheet" href="{% staticfile 'css/vendor/summernote-bs4.min.css' %}">
  <link rel="stylesheet" href="{% staticfile 'css/vendor/toastr.min.css' %}">

  <link href="{% staticfile 'css/styles.css' %}" rel="stylesheet">

  {% block css %}
  {% endblock css %}
</head>

<body>
  <div class="container-fluid">
    <div class="row min-vh-100 flex-column flex-md-row">
      <aside class="col-12 col-md-2 p-0 flex-shrink-1" id="sitenav">
        {% include "navbar.html" %}
      </aside>

      <main id="page-container" class="col flex-grow-1">

        {% block content %}
          <p>Use this document as a way to quick start any new project.</p>
        {% endblock content %}

      </main>

    </div>
  </div>


  {% block modal %}{% endblock modal %}

  <!-- Le javascript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->

  {% if settings.DEBUG %}
    <script src="{% staticfile 'js/vendor/jquery-3.4.1.js' %}"></script>
    <script src="{% staticfile 'js/vendor/vue.js' %}"></script>
  {% else %}
    <script src="{% staticfile 'js/vendor/jquery-3.4.1.min.js' %}"></script>
    <script src="{% staticfile 'js/vendor/vue.min.js' %}"></script>
  {% endif %}

  <script src="{% staticfile 'js/vendor/bootstrap.bundle.min.js' %}"></script>
  <script src="{% staticfile 'js/vendor/bootstrap-vue.min.js' %}"></script>
  <script src="{% staticfile 'js/vendor/lodash.min.js' %}"></script>
  <script src="{% staticfile 'js/vendor/summernote-bs4.min.js' %}"></script>
  <script src="{% staticfile 'js/vendor/toastr.min.js' %}"></script>

  <!-- Your stuff: Third-party javascript libraries go here -->
  <script src="{% staticfile 'js/project.js' %}"></script>
  <script>
    // CSRF token for AJAX requests, the classic way of setting it doesn't work for some
    // reason, but this does.
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
          if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
          }
        }
      });

    // Show alrts
    $(document).ready(function () {
      {% if messages %}
        {% for message in messages %}
          toastr["{{ message.tags }}"]("{{ message|escapejs }}");
        {% endfor %}
      {% endif %}
    });
  </script>
  {% block javascript %}
  {% endblock javascript %}
</body>

</html>
