@import url('widgets.css');

/* FORM ROWS */

.form-row.errors label.required {
  color: red;
}

.note-editor.note-frame {
  border: 1px solid #a9a9a9;
  border-radius: 0;
}

.field-price input {
  width: 168px;
}

.related-widget-wrapper select {
  width: 182px;
  background-color: #fff;
}

.related-widget-wrapper-link img {
  height: 18px;
  width: 18px;
}

input {
  /* width: 270px; */
}

.fieldBox {
  width: 444px;
}

.form-row {
  border-bottom: 1px solid #ddd;
  font-size: 13px;
  overflow: hidden;
  padding: 10px;
}

.form-row img,
.form-row input {
  vertical-align: middle;
}

.form-row label input[type='checkbox'] {
  margin-top: 0;
  vertical-align: 0;
}

form .form-row p {
  padding-left: 0;
}

.hidden {
  display: none;
}

/* FORM LABELS */

label {
  color: #666;
  font-size: 13px;
  font-weight: normal;
}

.required label,
label.required {
  color: #333;
  font-weight: bold;
}

/* RADIO BUTTONS */

form ul.radiolist li {
  list-style-type: none;
}

form ul.radiolist label {
  display: inline;
  float: none;
}

form ul.radiolist input[type='radio'] {
  margin: -2px 4px 0 0;
  padding: 0;
}

form ul.inline {
  margin-left: 0;
  padding: 0;
}

form ul.inline li {
  float: left;
  padding-right: 7px;
}

/* ALIGNED FIELDSETS */

.aligned label {
  display: block;
  float: left;
  line-height: 1;
  padding: 4px 10px 0 0;
  width: 100px;
  word-wrap: break-word;
}

.aligned label:not(.vCheckboxLabel)::after {
  content: '';
  display: inline-block;
  height: 26px;
  vertical-align: middle;
}

.aligned label + p,
.aligned label + div.help,
.aligned label + div.readonly {
  margin-bottom: 0;
  margin-left: 170px;
  margin-top: 0;
  padding: 6px 0;
}

.aligned ul label {
  display: inline;
  float: none;
}

.aligned .form-row input {
  margin-bottom: 0;
}

.colMS .aligned .vLargeTextField,
.colMS .aligned .vXMLLargeTextField {
  width: 350px;
}

form .aligned ul {
  margin-left: 160px;
  padding-left: 10px;
}

form .aligned ul.radiolist {
  display: inline-block;
  margin: 0;
  padding: 0;
}

form .aligned p.help,
form .aligned div.help {
  clear: left;
  margin-left: 0;
  margin-top: 0;
  padding-left: 10px;
}

.form-row .help {
  padding-left: 10px;
}

form .aligned label + p.help,
form .aligned label + div.help {
  margin-left: 0;
  /* padding-left: 0; */
}

form .aligned p.help:last-child,
form .aligned div.help:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

form .aligned input + p.help,
form .aligned textarea + p.help,
form .aligned select + p.help,
form .aligned input + div.help,
form .aligned textarea + div.help,
form .aligned select + div.help {
  margin-left: 0;
  padding-left: 10px;
}

form .aligned ul li {
  list-style: none;
}

form .aligned table p {
  margin-left: 0;
  padding-left: 0;
}

.aligned .vCheckboxLabel {
  display: inline-block;
  float: none;
  padding: 0 0 5px 5px;
  vertical-align: -3px;
  width: auto;
}

.aligned .vCheckboxLabel + p.help,
.aligned .vCheckboxLabel + div.help {
  margin-top: -4px;
}

.colM .aligned .vLargeTextField,
.colM .aligned .vXMLLargeTextField {
  width: 610px;
}

.checkbox-row p.help,
.checkbox-row div.help {
  margin-left: 0;
  padding-left: 0;
}

fieldset .fieldBox {
  float: left;
  margin-right: 20px;
}

/* WIDE FIELDSETS */

.wide label {
  width: 200px;
}

form .wide p,
form .wide input + p.help,
form .wide input + div.help {
  margin-left: 200px;
}

form .wide p.help,
form .wide div.help {
  padding-left: 38px;
}

form div.help ul {
  margin-left: 0;
  padding-left: 0;
}

.colM fieldset.wide .vLargeTextField,
.colM fieldset.wide .vXMLLargeTextField {
  width: 450px;
}

/* COLLAPSED FIELDSETS */

fieldset.collapsed * {
  display: none;
}

fieldset.collapsed h2,
fieldset.collapsed {
  display: block;
}

fieldset.collapsed {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

fieldset.collapsed h2 {
  background: #f8f8f8;
  color: #666;
}

fieldset .collapse-toggle {
  color: #fff;
}

fieldset.collapsed .collapse-toggle {
  background: transparent;
  color: #447e9b;
  display: inline;
}

/* MONOSPACE TEXTAREAS */

fieldset.monospace textarea {
  font-family: 'Bitstream Vera Sans Mono', Monaco, 'Courier New', Courier, monospace;
}

/* SUBMIT ROW */

.submit-row {
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0 0 20px;
  overflow: hidden;
  padding: 12px 14px;
  text-align: right;
}

body.popup .submit-row {
  overflow: auto;
}

.submit-row input {
  height: 35px;
  line-height: 15px;
  margin: 0 0 0 5px;
}

.submit-row input.default {
  margin: 0 0 0 8px;
  text-transform: uppercase;
}

.submit-row p {
  margin: 0.3em;
}

.submit-row p.deletelink-box {
  float: left;
  margin: 0;
}

.submit-row a.deletelink {
  background: #ba2121;
  border-radius: 4px;
  color: #fff;
  display: block;
  height: 15px;
  line-height: 15px;
  padding: 10px 15px;
}

.submit-row a.closelink {
  background: #bbb;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  height: 15px;
  line-height: 15px;
  margin: 0 0 0 5px;
  padding: 10px 15px;
}

.submit-row a.deletelink:focus,
.submit-row a.deletelink:hover,
.submit-row a.deletelink:active {
  background: #a41515;
}

.submit-row a.closelink:focus,
.submit-row a.closelink:hover,
.submit-row a.closelink:active {
  background: #aaa;
}

/* CUSTOM FORM FIELDS */

.vSelectMultipleField {
  vertical-align: top;
}

.vCheckboxField {
  border: 0;
}

.vDateField,
.vTimeField {
  margin-bottom: 4px;
  margin-right: 2px;
}

.vDateField {
  min-width: 6.85em;
}

.vTimeField {
  min-width: 4.7em;
}

.vURLField {
  width: 30em;
}

.vLargeTextField,
.vXMLLargeTextField {
  width: 48em;
}

.flatpages-flatpage #id_content {
  height: 40.2em;
}

.module table .vPositiveSmallIntegerField {
  width: 2.2em;
}

.vTextField {
  /* padding: 8px 6px !important; */
}

.vTextField,
.vUUIDField {
  width: 20em;
}

.vIntegerField {
  width: 5em;
}

.vBigIntegerField {
  width: 10em;
}

.vForeignKeyRawIdAdminField {
  width: 5em;
}

/* INLINES */

.inline-group {
  margin: 0 0 30px;
  padding: 0;
}

.inline-group thead th {
  padding: 8px 10px;
}

.inline-group .aligned label {
  width: 160px;
}

.inline-related {
  position: relative;
}

.inline-related h3 {
  background: #f8f8f8;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  color: #666;
  font-size: 13px;
  margin: 0;
  padding: 5px;
}

.inline-related h3 span.delete {
  float: right;
}

.inline-related h3 span.delete label {
  font-size: 11px;
  margin-left: 2px;
}

.inline-related fieldset {
  background: #fff;
  border: 0;
  margin: 0;
  width: 100%;
}

.inline-related fieldset.module h3 {
  background: #bcd;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  margin: 0;
  padding: 2px 5px 3px;
  text-align: left;
}

.inline-group .tabular fieldset.module {
  border: 0;
}

.inline-related.tabular fieldset.module table {
  width: 100%;
}

.last-related fieldset {
  border: 0;
}

.inline-group .tabular tr.has_original td {
  padding-top: 2em;
}

.inline-group .tabular tr td.original {
  padding: 2px 0 0;
  position: relative;
  width: 0;
}

.inline-group .tabular th.original {
  padding: 0;
  width: 0;
}

.inline-group .tabular td.original p {
  color: #666;
  font-size: 9px;
  font-weight: bold;
  height: 1.1em;
  left: 0;
  overflow: hidden;
  padding: 2px 9px;
  position: absolute;
  width: 700px;
}

.inline-group ul.tools {
  list-style: none;
  margin: 0;
  padding: 0;
}

.inline-group ul.tools li {
  display: inline;
  padding: 0 5px;
}

.inline-group div.add-row,
.inline-group .tabular tr.add-row td {
  background: #f8f8f8;
  background: url(../img/icon-addlink.svg) 0 1px no-repeat;
  border-bottom: 1px solid #ddd;
  color: #666;
  font-size: 12px;
  height: 16px;
  padding-left: 16px;
  width: 16px;
}

.empty-form {
  display: none;
}

/* RELATED FIELD ADD ONE / LOOKUP */

.add-another,
.related-lookup {
  background-image: url(../img/icon-addlink.svg);
  background-repeat: no-repeat;
  background-size: 14px;
  display: inline-block;
  height: 16px;
  margin-left: 5px;
  width: 16px;
}

.related-lookup {
  background-image: url(../img/search.svg);
  height: 16px;
  width: 16px;
}

form .related-widget-wrapper ul {
  display: inline-block;
  margin-left: 0;
  padding-left: 0;
}

.clearable-file-input input {
  margin-top: 0;
}


/*<--------------------------------------------------------------------------->
                         Switch CSS
<--------------------------------------------------------------------------->*/


.switch {
  display: inline-block;
  height: 22px;
  position: relative;
  top: 3px;
  width: 34px !important;
}

.switch.small {
  height: 18px;
  top: -1px;
  width: 28px !important;
}

/* Hide default HTML checkbox */
.switch input {
  height: 0;
  opacity: 0;
  width: 0;
}

/* The slider */
.switch .slider {
  background-color: #fff;
  bottom: 0;
  cursor: pointer;
  left: 0;
  opacity: 0.9;
  position: absolute;
  right: 0;
  top: 0;
}

.switch .state-text::after {
  bottom: 3px;
  content: 'Off';
  font-weight: bold;
  left: 45px;
  position: relative;
}

.switch.small .state-text::after {
  display: none;
}

.switch .slider::before {
  background-color: rgb(240, 111, 101);
  border: 1px outset rgb(194, 117, 117);
  /* border-right: 1px inset rgb(136, 83, 83); */
  bottom: 1px;
  content: '';
  height: 20px;
  left: 1px;
  position: absolute;
  transition: 0.4s;
  transition-timing-function: ease;
  width: 20px;
}

.switch .slider:hover::before {
  background-color: rgb(248, 173, 168);
}

.switch.small .slider::before {
  height: 12px;
  width: 12px;

}

.switch input:checked+.slider {
  /* background-color: #daf8db; */
}

.switch input:focus+.slider {
  /* box-shadow: 0 0 4px #0c9e13; */
}

.switch input:checked+.slider::before {
  background-color: rgb(72, 185, 78);
  border: 1px outset rgb(85, 190, 92);
  /* border-right: 1px inset rgb(53, 121, 57); */
  transform: translateX(18px);
}

.switch input:checked+.slider:hover::before {
  background-color: rgb(117, 209, 121);
}

.switch.small input:checked+.slider::before {
  transform: translateX(10px);
}

.switch input:checked~.state-text::after {
  bottom: 3px;
  content: 'On';
  font-weight: bold;
  left: 45px;
  position: relative;
}

/* Rounded sliders */
.switch .slider.round {
  border: 1px outset #bbb;
  border-radius: 34px;
}

.switch.small .slider.round {
  border-radius: 4px;
}

.switch .slider.round::before {
  /* border: 1px solid #444; */
  border-radius: 50%;
}

.switch.small .slider.round::before {
  border-radius: 4px;
}
