# Save this as '.env' in the root project folder

DJANGO_DEBUG=True

DJANGO_EMAIL_HOST = 'smtp.gmail.com'
DJANGO_EMAIL_USE_TLS = True
DJANGO_EMAIL_PORT = 587
DJANGO_EMAIL_HOST_USER = 'brad.hcf@gmail.com'
DJANGO_EMAIL_HOST_PASSWORD = 'H0m35te@d12'

DJANGO_DB_HOST=localhost
DJANGO_DB_NAME='smokestack'
DJANGO_DB_USER='django'
DJANGO_DB_PASSWORD='bumbl3'

USE_MV=False
